@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
   José Rui Barros 1100447<br/>
   Duarte Teles 110199<br/>
   Hugo Ferreira 1090578<br/>
</div>